div#header, div#footer, .slide {
  width: 100%;
  top: 0;
  left: 0;
  padding: 2em;
}
div#header {
  height: 1.5em;
  z-index: 1;
}
div#footer {
  top: auto;
  bottom: 0;
  height: 1.5em;
  z-index: 5;
}

div#controls {
  left: 50%;
  bottom: 0;
  width: 50%;
  z-index: 100;
}
div#controls form {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0;
}

#currentSlide {
  position: absolute;
  left: 45%;
  bottom: 1em;
  width: 10%;
  z-index: 10;
}
html > body #currentSlide {
  position: fixed;
}
